@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&display=swap');

$black: #222222;
$white: #ffffff;
$darkGrey: #373737;
$middleGrey: #777777;
$lightGrey: #E0E0E0;
$yellow: #FFDF00;

$gutter: 80px;
$gutter-s: 40px;

$bigMaxWidth: 1600px;
$middleMaxWidth: 1300px;
$smallMaxWidth: 1000px;
$paragraphMaxWidth: 600px;


.all__accent-color{
    color: #FFDF00;
}

.all__05-outline {
    -webkit-text-stroke: 0.5px $white;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: "OCR A Std";
    src: local("OCR A Std"),
     url(~@/assets/fonts/OCRAStd.otf) format("truetype");
  }

.all__accent-font {
    // font-family: "Raleway", sans-serif;
    // font-weight: 900;

    font-family: 'OCR A Std', sans-serif;
    // font-style: italic;
}


// animations

@keyframes liftUp {
  from {transform: translate(0,0);}
  to {transform: translate(0,-20px);}
}

@mixin sp {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a.underline-yellow {
  border-bottom: 3px solid $yellow;
  transition: all 0.1s ease-in-out;

  &:hover {
    border-bottom: 5px solid $yellow;
  }
}