@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&display=swap');

$black: #222222;
$white: #ffffff;
$darkGrey: #373737;
$middleGrey: #777777;
$gutter: 80px;

html {
    font-size: 16px;
      
    @media screen and (min-width: 900px) {
      font-size: 18px;
    }
      
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }

.all__accent-color{
    color: #FFDF00;
}

.all__05-outline {
    -webkit-text-stroke: 0.5px $white;
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: "OCR A Std";
    src: local("OCR A Std"),
     url(~@/assets/fonts/OCRAStd.otf) format("truetype");
  }

.all__accent-font {
    // font-family: "Raleway", sans-serif;
    // font-weight: 900;

    font-family: 'OCR A Std', sans-serif;
    // font-style: italic;
}


// animations

@keyframes liftUp {
  from {transform: translate(0,0);}
  to {transform: translate(0,-20px);}
}
